<footer>
  <hr/>
  <hr/>
  <div class="footer">
    <p><small>Want to help?  <a href="https://github.com/katievotes/katievotes.github.io" target="_blank">This page is open-source and probably won't ever get any styling without a friendly pull request.</a></small></p>
    <p><small>Social media sharing also welcome <i>(my <a href="https://reddit.com/user/katievotes" target="_blank">Reddit account</a>'s too new to not be automodded as a troll)</i>, but more importantly is that you text every friend and family member you know helping make sure they know their options.  This guide is just to help you get started in your own GOTV groundwork.</small></p>
  </div>
</footer>
